{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        //The runtime: "automatic" setting tells Babel to use the new JSX transform, which does not require the explicit import of React.
        "runtime": "automatic"
      }
    ]
  ]
}
